.menu {
  position: absolute;
  top: 0px;
  left: 0px;

  ul {
    li {
      display: inline-block;
      list-style: none;

      .menu-option {
        margin-right: 10px;
        padding: 10px;
        background-color: #ffe7ce;
        border: transparent;
        border-radius: 5px;

        &.active {
          background-color: #ffbd77;
        }
      }
    }
  }
}
