div .menu {
  position: absolute;
  top: 0px;
  left: 0px;

  ul {
    li {
      display: inline-block;
      list-style: none;
      margin-right: 10px;
      padding: 10px;
      background-color: #5B4BBC;
      border-radius: 5px;

      &.active {
        background-color: #796bc7;
      }
    }
  }
}
