.dictionary-list {
  position: absolute;
  left: 35px;
  top: 100px;
  display: flex;
  justify-content: center;

  & select {
    min-width: 250px;
    padding: 15px;
    text-align: center;
    border: 2px solid #5B4BBC;
    border-radius: 20px;
  }

  & .btn-add-dictionary {
    position: relative;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 15px;
    font-size: 10px;
  }
}
