form {
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffe7ce;
  height: 20rem;
  width: 25rem;
  border-radius: 20px;
}

label, input {
  //display: block;
  margin-bottom: 15px;
  color: #65656a;
}

input {
  background-color: white;
  border: transparent;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  color: black;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.error {
  color: #e76666;

}
