footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: #ffe7ce;
    color: #65656a;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    margin-top: auto;
}

a:visited {
    color: inherit;
}
