.carousel {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  //max-width: 1000px;
}

.card-container {
  position: relative;

  width: 81rem;
  height: 22rem;
}

.carousel-btn {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 105%;
  border: 1px solid transparent;
  border-radius: 5px;
}

.prev {
  left: 20%;
  background-color: #5B4BBC;
}

.next {
  right: 20%;
  background-color: #5B4BBC;
}
