.carousel {
  position: absolute;
  top: 200px;
  transform: translate(-50%);
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in;

  &-word-info-shown {
    position: absolute;
    top: 200px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in;
  }
}

.card-container {
  position: relative;
  width: 50rem;
  height: 22rem;
}

.btn {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 105%;
  border-radius: 5px;
  background-color: #5B4BBC;

  &-prev {
    left: 20%;
  }

  &-next {
    right: 20%;
  }

  &-blocked {
    background-color: grey;
  }
}
