.home {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: fit-content;
  font-size: 3em;
  line-height: 1em;

  &-nav-btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 720px) {
  .home {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
}
