@keyframes rollout {
  0% { width: 100px; height: 100px;}
  100% { width: 800px; height: 800px}
}

.word-info-wrapper {
  position: absolute;
  left: 35px;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  width: 800px;
  height: 800px;
  padding: 15px;
  background-color: #ffe7ce;
  color: #65656a;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 20px;
  overflow: auto;
  animation: rollout 0.5s;
}


@media (720px <= width <= 1300px) {
  .word-info-wrapper {
    top: 650px;
    // width: 700px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
