@keyframes rollout {
  0% { width: 100px; height: 100px;}
  100% { width: 800px; height: 80%}
}

@keyframes rollout-small-screen {
  0% { width: 0%; height: 100px;}
  100% { width: 80%; height: 80%}
}

.word-info-wrapper {
  position: absolute;
  left: 35px;
  top: 200px;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  width: 800px;
  height: 80%;
  padding: 15px;
  background-color: #ffe7ce;
  color: #65656a;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: 20px;
  overflow: auto;
  animation: rollout 0.5s;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.word-info-wrapper::-webkit-scrollbar {
  display: none;
}


@media screen and (min-width: 720px) and (max-width: 1300px) {
  .word-info-wrapper {
    top: 650px;
    max-width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 720px) {
  .word-info-wrapper {
    top: 500px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: rollout-small-screen 0.5s;
  }
}