.signin-form {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border: none;
  border-radius: 10px;

  & label {
    color: #65656a;
  }

  &-error {
    color: red;
    background-color: #2d2d2d;
    margin: 0 50px;
  }
}
