.login-switch-btn-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
}

.login-switch-btn {
  width: 100px;

  &-active {
    width: 100px;
    background-color: #8875ef;
  }
}

.logout-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 16px;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}
