label, input {
  display: block;
  margin-bottom: 15px;
}

input {
  background-color: white;
  border: transparent;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  color: black;
  padding: 10px;

  &:focus {
    outline: none;
  }
}
